<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image research</title>
</head>
<body>
    <a href="{% url 'upload' %}"> Add other image</a>
    
    <div class="image">
        <p>{{ image.file.name }}</p>
        <p>White pixel count: {{ white_count }}</p>
        <p>Black pixel count: {{ black_count }}</p>

        
        <div class="hex">
            <div class="search">
                <form action="#" method="GET">
                    {{ form }}
                    <input type="submit" value="Find">
                </form>
            </div>
            
            {% if hex_count %}
                <div class="found">
                    <p>Found {{ hex_count }} pixels for {{ hex_color }} color</p>
                </div>
            {% endif %}
        </div>

        <img src="{{ image.file.url }}" style="max-width: 100%;">
    </div>
</body>
</html>